/**
 * Align Images Side By Side
 * https://www.w3schools.com/howto/howto_css_images_side_by_side.asp
 *
 * Media Queries
 * https://www.w3schools.com/css/css_rwd_mediaqueries.asp
 */

html {
  /* Simplify layout element sizing */
  box-sizing: border-box;
}

body {
  /* Simplify layout styling */
  margin: 0;
  padding: 0;
  /* Support sticky footer */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header, footer {
  /* Apply color for side content */
  background-color: black;
  color: white;
  /* Apply padding for side content */
  padding: 20px;
}

header nav {
  /* Apply row wrapping for links */
  display: flex;
  flex-flow: row wrap;
}

header nav a {
  /* Apply margin for links */
  margin-right: 10px;
  /* Apply color for links */
  color: white;
}

main {
  /* Support sticky footer */
  flex: 1;
  /* Apply padding for main content */
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.chart {
  /* Support side-by-side charts */
  float: left;
  /* Apply padding for charts */
  padding: 5px;
}

/* Enforce one image container with narrow screen */
@media only screen and (max-width: 1014px) {
  .chart {
    width: 99%;
  }
}

/* Enforce two image containers with medium screen */
@media only screen and (min-width: 1015px) and (max-width: 1314px) {
  .chart {
    width: 49%;
  }
}

/* Enforce three image containers with wide screen */
@media only screen and (min-width: 1315px) {
  .chart {
    width: 32%;
  }
}

/* Clear floats after image containers */
.chart-box::after {
  content: "";
  clear: both;
  display: table;
}
