/**
 * Align Images Side By Side
 * https://www.w3schools.com/howto/howto_css_images_side_by_side.asp
 *
 * Media Queries
 * https://www.w3schools.com/css/css_rwd_mediaqueries.asp
 */

body {
  /* Padding for layout */
  padding-left: 10px;
  padding-right: 10px;
}

header, footer {
  /* Padding for content */
  padding-top: 10px;
  padding-bottom: 10px;
}

header nav a {
  /* Margin for links */
  margin-right: 5px;
}

.chart-responsive {
  /* Side-by-side charts */
  float: left;
  /* Padding for charts */
  padding: 5px;
}

/* One image container with narrow screen */
@media only screen and (max-width: 1014px) {
  .chart-responsive {
    width: 99%;
  }
}

/* Two image containers with medium screen */
@media only screen and (min-width: 1015px) and (max-width: 1314px) {
  .chart-responsive {
    width: 49%;
  }
}

/* Three image containers with wide screen */
@media only screen and (min-width: 1315px) {
  .chart-responsive {
    width: 32%;
  }
}

/* Clear floats after image containers */
.chart-grid::after {
  content: "";
  clear: both;
  display: table;
}
