/**
 * Making the charts responsive was a tricky process and involved multiple iterations.
 *
 * Here are the resources followed in the first iteration:
 * - https://www.w3schools.com/howto/howto_css_images_side_by_side.asp
 * - https://www.w3schools.com/css/css_rwd_mediaqueries.asp
 * - https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Sticky_footers
 * - https://css-tricks.com/snippets/css/clear-fix/
 *
 * Here are the resources followed in the second iteration:
 * - https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 * - https://css-tricks.com/snippets/css/complete-guide-grid/
 * - https://webdesign.tutsplus.com/articles/flexbox-vs-css-grid-which-should-you-use--cms-30184
 * - https://css-tricks.com/difference-explicit-implicit-grids/
 */

@font-face {
  font-family: 'Lora';
  font-weight: normal;
  src: url(/fonts/Lora-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Lora Bold';
  font-weight: bold;
  src: url(/fonts/Lora-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'PT Sans';
  font-weight: normal;
  src: url(/fonts/PTSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'PT Sans Bold';
  font-weight: bold;
  src: url(/fonts/PTSans-Bold.ttf) format('truetype');
}

html {
  /* Simplify layout element sizing */
  box-sizing: border-box;
}

body {
  /* Remove default margin and padding */
  margin: 0;
  padding: 0;
  /* Apply default font family */
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  /* Apply header font family */
  font-family: 'Lora Bold', serif;
}

div.layout {
  /* Support sticky footer */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header, footer {
  /* Support sticky footer */
  flex-shrink: 0;
  /* Apply color for side content */
  background-color: black;
  color: white;
  /* Apply padding for side content */
  padding: 30px;
}

header nav {
  /* Apply row wrapping for nav links */
  display: flex;
  flex-flow: row wrap;
}

header nav a {
  /* Apply margin for nav links */
  padding: 5px;
  margin-right: 10px;
  /* Apply color for nav links */
  color: white;
  /* Remove underlines for nav links */
  text-decoration: none;
  /* Support nav link transitions */
  transition: 0.3s;
}

header nav a:hover {
  /* Support nav link transitions */
  background-color: white;
  color: black;
}

main {
  /* Support sticky footer */
  flex-grow: 1;
  /* Apply margin for main content */
  margin: 30px;
}

ul li, ol li {
  /* Apply margin for list items */
  margin-bottom: 5px;
}

.chart {
  /* Apply border with padding for charts */
  border: 1px solid black;
  padding: 10px;
}

.chart-box {
  /* Apply padding for chart container */
  padding: 10px;
  /* Apply responsive grid for chart container */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 10px;
}
