<div class="chart-row">
  <Charts::FitnessChart @chartData={{this.fitnessData}} />
  <Charts::SalesChart @chartData={{this.salesData}} />
  <Charts::FitnessChart @chartData={{this.fitnessData}} />
  <Charts::SalesChart @chartData={{this.salesData}} />
</div>