<h2>About</h2>
<p>This is a page with a bunch of charts.</p>
<p>The things that have been experimented with so far:</p>
<ul>
  <li>Create Chart demo component with responsive design</li>
  <li>Create Fitness chart component to test time series graph</li>
  <li>Wrap HighCharts with custom Glimmer component</li>
</ul>