<h2>About</h2>
<p>This is a single page application with many charts.</p>
<p>Changelog (from most recent to latest):</p>
<ul>
  <li>Create Employment chart to test line visualization</li>
  <li>Create Browser chart to test pie visualization</li>
  <li>Create Height Weight chart to test scatter visualization</li>
  <li>Create Population chart to test bar + column visualizations</li>
  <li>Create Sales chart to test heatmap visualization</li>
  <li>Create Chart demo with responsive styles</li>
  <li>Create Fitness chart to test area visualization</li>
  <li>Wrap HighCharts with custom Glimmer component</li>
</ul>