<h2>Charts</h2>
<p>Here are some charts to check out:</p>
<AllCharts @model={{@model}} />
<p>All charts are derived from the following sources:</p>
<ul>
  <li><a href="https://www.highcharts.com/demo">HighCharts</a></li>
  <li><a href="https://github.com/ahmadsoe/ember-highcharts">GitHub</a></li>
</ul>