<!-- https://derricksdocs.com/a-simple-time-series-chart-with-ember-highcharts/ -->
<h1>Charts</h1>
<p>Here are some charts to check out:</p>
<div class="row">
  <div class="chart-responsive">
    <ChartDemo />
  </div>
  <div class="chart-responsive">
    <ChartDemo />
  </div>
</div>