<div class="jumbo">
  <h2>Welcome to my site</h2>
  <p>Check out all of the amazing content here.</p>
</div>
<div class="content">
  <h2>Overview</h2>
  <p><LinkTo @route="about" class="button">About Me</LinkTo> has more personal information.</p>
  <p><LinkTo @route="charts" class="button">Charts</LinkTo> has amazing chart visualizations.</p>
</div>